POSTGRES_DB=mydb
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
SECRET_KEY=wmwdsKsvvqCvdLaeV6uT3vR3EixzYTvohDRRLNe7F-0GgSbauovH8Ka1n3XpurpAVKI
DEBUG=True
DJANGO_SETTINGS_MODULE=myproject.settings
DB_HOST=localhost
DB_PORT=5432